.logo {
    width: 15em;
    height: auto;
    margin-top: 10px;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
    border-radius: 40px;
    background: #000000;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/