@import '~@angular/material/theming';

.slot-select-dropdown{
    margin-top: 15%;
    text-align: center;
    align-content: center;
}

.btn_slot {
    cursor: pointer;
    color: map-get($mat-amber, 400);
    max-zoom: 40%;
    font-size: 0%;
    border-width: 2px;
    border: 2px solid map-get($mat-deep-purple, 400);
}

.btn_inactive {
    opacity: 0.2;
    cursor: pointer;
    text-align: center;
    align-content: center;
}

.header {
  display: inline-flex;
  margin-right: 3%;
  color: map-get($mat-amber, 400);
  font-size: 200%;
  text-shadow: -2px 0 map-get($mat-deep-purple, 500), 0 2px map-get($mat-deep-purple, 500), 2px 0 map-get($mat-deep-purple, 500), 0 -2px map-get($mat-deep-purple, 500);
}

.label {
  color: map-get($mat-deep-purple, 500);
  font-size: 100%;
}

.option {
  color: map-get($mat-deep-purple, 500);
  font-size: 100%;
}

::ng-deep .mat-select-value {    
  color: map-get($mat-deep-purple, 500);  
}

::ng-deep .mat-select-panel {
  background-color: map-get($mat-amber, 400);
}

.mat-divider {
  margin-left: 10%;
  margin-right: 10%;
  border-top-color: map-get($mat-deep-purple, 500);
}

.example-container form {
  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  text-align: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 3%;
}

.example-container form > * {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}