<div class="slot-select-dropdown">
  <mat-form-field>
    <mat-label class="label">Select a keg</mat-label>
    <mat-select [formControl]="brewControl" required>
      <mat-option *ngFor="let slot of slots" value="slot.brew_name" class="option">
        <option *ngIf="slot.active == true; else empty">Slot {{slot.id}}: {{slot.brew_name}}</option>
        <ng-template #empty>
          Slot {{slot.id}}: ---------------
        </ng-template>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="brewControl.hasError('required')">Please choose a keg</mat-error>
    <mat-hint>{{brewControl.value?.sound}}</mat-hint>
  </mat-form-field>
  </div>
  