<!-- <h1><div *ngIf="keg_slots.get_selected_slot() != 0"><h1>{{keg_slots.get_selected_slot()}}</h1></div></h1> -->
<div class="brew_discription" *ngIf="keg_slots.get_selected_slot() != 0">
    <form [formGroup]="brew_details">
        <mat-form-field>
            <h2><u>Brew Discription</u></h2>
            <button mat-raised-button>Edit Batch</button>
            <input matInput [readonly]="true" formControlName="brew_disc_control" placeholder="Brew Discription">
            <h2><u>Current Batch</u></h2>
            <button mat-raised-button>Batch Logs</button>
            <app-temperature-monitor></app-temperature-monitor>
        </mat-form-field>
    </form>
</div>
<app-bottom-bar></app-bottom-bar>